{% extends 'base.html' %}

{% block content%}

    <div class="jumbotron">
  <h1 class="display-4">Hello Guys!</h1>
  <p class="lead">This is a weather application. We can get the Air Quality and Category of atmosphere by using Pin Code. In this application, airnow api is used which is free and from USA</p>
  <hr class="my-4">
  <p>Some suggested zipcode: 11225, 21044, 20002, 32244, 30022 etc. We can search other zipcode of USA and try.</p>
<!--  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
</div>

{% endblock content%}